pandas
numpy
seaborn
matplotlib
ipykernel
scikit-learn
catboost
xgboost
dill
#-e .
 ###this is addded sp that when this file is run the setup.py is also triggered , and to avoid this line to be read in setup file we have a seperate function